[submodule "agent_gen"]
	path = agent_gen
	url = https://github.com/embed111/agent_gen.git
[submodule "Analyst"]
	path = Analyst
	url = https://github.com/embed111/Analyst.git
[submodule "Analyst2"]
	path = Analyst2
	url = https://github.com/embed111/Analyst2.git
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/embed111/openclaw.git
[submodule "skill_manager"]
	path = skill_manager
	url = https://github.com/embed111/skill_manager.git
[submodule "trainer"]
	path = trainer
	url = https://github.com/embed111/trainer.git
[submodule "workflow"]
	path = workflow
	url = https://github.com/embed111/workflow.git
[submodule "workflow_code"]
	path = workflow_code
	url = https://github.com/embed111/workflow_code.git
	branch = main
[submodule "workflow_bugmate"]
	path = workflow_bugmate
	url = https://github.com/embed111/workflow_bugmate.git
[submodule "workflow_devmate"]
	path = workflow_devmate
	url = https://github.com/embed111/workflow_devmate.git
[submodule "workflow_qualitymate"]
	path = workflow_qualitymate
	url = https://github.com/embed111/workflow_qualitymate.git
[submodule "workflow_testmate"]
	path = workflow_testmate
	url = https://github.com/embed111/workflow_testmate.git
